name: Build on DockerHub and Deploy to AWS
on:
  push:
    branches:
      - main
env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  AWS_PRIVATE_KEY: ${{ secrets.AWS_PRIVATE_KEY }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
        with:
          arguments: build -x test
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./
          push: true
          dockerfile: ./Dockerfile
          tags: stitch80/excelhelperbot:latest
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}
      - name: Set permissions for private key
        run: |
          echo "${{ env.AWS_PRIVATE_KEY }}" > key.pem
          chmod 600 key.pem
      - name: Pull Docker image
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ec2-user@18.141.194.145 'sudo docker pull stitch80/excelhelperbot:latest'
      - name: Stop running container
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ec2-user@18.141.194.145 'sudo docker stop bot_container || true'
          ssh -o StrictHostKeyChecking=no -i key.pem ec2-user@18.141.194.145 'sudo docker rm bot_container || true'
      - name: Run new container
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ec2-user@18.141.194.145 'sudo docker run -d --env-file .botenv --name bot_container -p 80:8080 stitch80/excelhelperbot:latest'
      - name: Test
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ec2-user@18.141.194.145 'sudo chmod 750 /usr/local/bin/healthcheck.sh'
          ssh -o StrictHostKeyChecking=no -i key.pem ec2-user@18.141.194.145 'sudo pwd'
          ssh -o StrictHostKeyChecking=no -i key.pem ec2-user@18.141.194.145 'sudo /usr/local/bin/healthcheck.sh bot_container 60'
